.collapsible {
  /* border: black dashed 1px; */
}

.toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.vote-up {
  /* margin-right: 3px; */
  padding: 5px;
}
.vote-up:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.vote-down {
  margin-right: 3px;
  padding: 5px 10px;
}
.vote-down:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.vote-count {
  font-size: 11px;
  color: #bbbb;
  margin-left: 5px;
}

.toolbar {
  margin-top: 5px;
}
.toolbar .reply {
  background-color: transparent;
  font-size: 12px;
  border: 0;
  color: white;
  border-radius: 10px;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: bold;
}

.toolbar .reply:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
